body{
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
}


.container
 {
     margin: auto;
     width: 70%;
     border: solid 2px #607D8B ;
 }
 p{
     text-align: justify;
 }
 /*------------------Header------------------*/
 header {
    
    display: flex;
   
    
}
.titre {
   width: 70%;
   
    
 }

 .titre h1 {
     position: relative;
     left: 34px;
     top: 80px;
     text-transform: uppercase ;

 }
 .soustitre {
    position: relative;
    left: 34px;
    top: 60px;


 }
 
 .soustitre::after{
     content: " ";
     height: 2px;
     width: 40px;
     background-color: #607D8B;
     position: absolute;
     top: 16px;
     left: 1px;
  
     
 }
 .prenom {
    
    color: #607D8B;
}
 .portrait {
     width: 30%;
     text-align: center;
     background-color:#607D8B;
 }
 #photo{
     border-radius: 50% 50%;
    margin-top: 3%;
    
}
/*------------------ Disposition générale de aside et main------------*/
.left_right {
    display: flex;
}

 aside {
     width: 30%;
     background-color: #607D8B;
     display:flex;
     flex-direction: column;
     justify-content: space-between;
     
 }

 main {
    
    width: 70%;
    display: flex;
    flex-direction: column;
    
}

 /*------------------------------------aside--------------------*/
 .contact{
     margin-bottom: 5%;
 }
 .apropos{
    flex: 2;
 }
 .loisirs{
    margin-top: 5%;
    margin-bottom: 7%;
 }

 .cadre{
     
     border: solid 1px #263238;
     background-color:#263238 ;
     color: #607D8B;
     text-align: center;
     text-transform: uppercase;
 }
 .paragraphe_contact {
     position: relative;
     left: 8%;
 }
 
 .paragraphe_apropos{

     margin: 8% 8%;
     text-align: justify;
   
 }

 .icon_aside{

     border: 1px solid #263238;
     margin-left: 10px;
     padding:10px ;
     border-radius: 50% 50%;
     width: 45px;
     
 }
 .icon_aside_centrage{
     text-align: center;
 }

 /*--------------------Main---------------*/
 .section_main{
     margin-left: 5%;
     margin-right: 5%;
 }
 .icon_main {
     color:#607D8B ;
     margin-right: 15px;
 }
 .title{
     border-bottom: solid 2px #607D8B ;
     font-weight: bolder;
     text-transform: uppercase;
 }
 .flex_item{
     display: flex;
     justify-content: space-between;
     margin-bottom: 5%;
 }
 .item h3 {
    
     margin-top: 5px;
     
    
 }
 .item p{
    
     margin-bottom: 20px;
     
 }
 .section_information{
     display: flex;
     
 }
 .date{
     
     width: 30%;
     margin-left: 0;
     display: flex;
     
   
     
 }
 .info{
    
    width: 70%;
    margin-left: 5%;
 }
 .info h3{
     text-transform: uppercase;
 }


.icon_circle{
    font-size: 0.5em;
    color: #607D8B ;
    margin-left: 3%;
    margin-right:2px ;
    padding-top: 18px;
}
.icon_dot_circle{
    color: #607D8B ;
    padding-top: 15px;

}
.year_city{
    margin-left: 10px;
    
}

/*-------------------------RESPONSIVE---------------------------*/
@media all and (max-device-width: 480px){  /*----- pour les mobiles-------*/
    body{
        font-size: 0,5em;
    }
    
    .container{
        width: auto;
    }
    header{
        display: flex;
        flex-direction: column;
        height: 360px;
        background-color:#607D8B;
        
        
    }
    .portrait {
        width: 100%;
        text-align: center;
       
    }
    .titre {
        width: 100%;
        text-align: center;
         
      }
    header h1 {
        text-align: center;
        color: #263238 ;
     } 
    header .soustitre {
        text-align: center;
        color: #263238 ;
    }

    .soustitre::after{
           background-color:#263238  ;   
    }  
   
       

    .left_right {
        display: flex;
        flex-direction: column-reverse;
    }
    main {
    
        width: 100%;
            
    }
    aside {
        width: 100%;
           
    }
   
      

}
@media all and (min-device-width: 480px) and (max-width:840px){
    body {
        font-size: 0.8em;
    }
    
    .container{
        width: auto;
    }
    header{
        display: flex;
        flex-direction: column;
        height: 360px;
        
        
    }
    header h1 {
        text-align: center;
        margin-left: 25%;
       
     } 
    header .soustitre {
        text-align: center;
        margin-left: 25%;
        
    }
    .soustitre::after{
        display: none;
 }  
    .portrait {
    width: 100%;
    text-align: center;
    background-color:#607D8B
   
} 
    #photo{
        margin-top: 1%;
    }   
    .left_right {
        display: flex;
        flex-direction: column-reverse;
    }
    main {
    
        width: 100%;
            
    }
    aside {
        width: 100%;
           
    }
}
@media all and (min-width:840px) and (max-width: 1280px){
    .container{
        width:auto;
    }
}
